@media only screen and (max-width: 1000px){
				.header_bottom,
		nav.mobile_menu{
			background-color: #252525 !important;
		}
				.blog_slider_holder .blog_slider.simple_slider .blog_text_holder_inner2{
			width: 41.6%;
		}
				.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner {
			padding-top:26px !important; /*important because of the inline style on page*/
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
			.blog_slider_holder .blog_slider.simple_slider .blog_text_holder_inner2 {
			width: 65%;
		}
	}
@media only screen and (max-width: 600px) {
			h1 {
			font-size: 41px; 					    		}
	
			h2 {
			font-size: 19px; 			line-height: 30px; 		    		}
	
			h3 {
			font-size: 19px; 			line-height: 30px; 		    		}
	
			h4 {
			font-size: 15px; 			line-height: 22px; 		    		}
	
	
			h6 {
			font-size: 13px; 			line-height: 25px; 		    		}
	
			body,
		p {
			font-size: 13px; 			line-height: 22px; 		    		}
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}